<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Blog Spot</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/style.css">

</head>
<body class="flex-column min-100-vh">
    <nav class="navbar">
        <ul class="menu align-right">
            <li class="li-inline nav-item"><a href="/">Home</a></li>
            {{#if logged_in}}
            <li class="li-inline nav-item"><a href="/profile">Profile</a></li>
            <li class="li-inline nav-item"><button class="no-button" id="logout">Logout</button></li>
            {{else}}
            <li class="li-inline nav-item"><a href="/login">Login</a></li>
            {{/if}}
        </ul>
    </nav>
    <header class="hero">
    <h1 class="app-title"><a href="/">The Blog Spot</a></h1>
  </header>
    <div>
        {{{ body }}}
    </div>
    {{#if logged_in}}
    <script src="/js/signout.js"></script>
    {{/if}}

</body>
<script type="text/javascript" src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
</html>