<head>
  <link rel="stylesheet" type="text/css" href="../public/css/feed.css">
</head>
<img src="css/hubl.png" alt="Logo" class="logo">

<div id="posts">
  <div class="feed">
{{!-- {{#each submissions as |submission|}}
{{> submission-details}}
      <div class="col-md-8">
        <h6>{{submission.name}}</h6>
        <br>
        <p>{{submission.description}}</p>
        <br>
        <a href="{{submission.website}}">{{submission.website}}</a>
      </div>
{{/each}} --}}
</div></div>

    <script src="/js/feed.js"></script>
