<head>
  <link rel="stylesheet" type="text/css" href="../public/css/feed.css">
</head>
<img src="css/hubl.png" alt="Logo" class="logo">

<div id="posts">
  <div class="feed">
</div></div>

    <script src="/js/feed.js"></script>
