 <head>
 <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/style.css">
 </head>

<body>
    <div class="container" id="login-container">
        <h1>Sign In</h1>
        <form>
          <label for="email">User Name / Email:</label>
          <input type="email" id="email-login" name="email">
          <br>
          <label for="password">Password:</label>
          <input type="password" id="password-login" name="password">
          <br><br>
          <input type="submit" value="Submit">
        </form>
        <p>Don't have an account? <a href="#" id="signup-link" class="signup-text">Sign Up</a></p>
        <!--logo -->
        <img src="css/hubl.png" alt="Logo" class="logo">
      </div>
      
      <!--Signup container-->
      <div class="container" id="signup-container" style="display:none;">
        <h1>Sign Up</h1>
        <form>
          <label for="email">User Name / Email:</label>
          <input type="email" id="email-signup" name="email">
          <br>
          <label for="password">Password:</label>
          <input type="password" id="password-signup" name="password">
          <br>
          <label for="password-confirm">Confirm Password:</label>
          <input type="password" id="password-confirm" name="password-confirm">
          <br><br>
          <input type="submit" value="Sign Up">
        </form>
        <p>Already have an account? <a href="#" id="signin-link" class="signin-text">Sign In</a></p>
      </div>
      <script src="/js/validation.js"></script>
      <script src="/js/SignIn&Up.js"></script>
</body>
