
<head>
  <link rel="stylesheet" type="text/css" href="../public/css/profile.css">
</head>
<body> 
<form id="postForm">
        <div class="row">
            <div class="medium-6 medium-push-3 columns">
                <label>New Post Title:</label>
                <textarea id="postName" class="newPost" placeholder="Your New Post Here"></textarea>
                <br>
                <label>New Post Content:</label>
                <textarea id="postDescription" class="newPost" placeholder="Your New Post Here"></textarea>
                <div class="row">
            <div class="medium-6 medium-push-3 columns">
                <button type="submit" class="button" id="button">New Post</button>
            </div>
        </div>
            </div>
        </div>
    </form>
    <div class="bg-image"></div>
{{#if posts.length}}
  <div id="posts">
    <h3>Current Posts:</h3>

    {{#each posts as |post|}}
    <div class="row">
      <div class="col-md-8">
        <h6>{{post.title}}</h6>
        <br>
        <p>{{post.content}}</p>
        <hr class="solid">
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

    <script src="/js/profile.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>